(setq package-user-dir (expand-file-name "elpa/" user-emacs-directory))
(setq package-archives nil)
(package-initialize)

;; Load config modules
(add-to-list 'load-path (expand-file-name "lisp/" user-emacs-directory))

(require 'f2k-core)
(require 'f2k-c-cpp)